.card{
    transition: .5s;
}
.card:hover{
    transform: scale(1.1)
}

img.card-img-top{
    width: 70%;
    margin: 0 auto;
}

a.nav-link{
    color: white;
}

#about{
    h1{
        padding: 2em;
    }
}
#competence{
    h1{
        padding: 2em;
    }
}