h2{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    padding-top: 55px !important;
}

.card{
    transition: .5s;
    margin-bottom: 10px;
}
.card:hover{
    transform: scale(1.1)
}

img.card-img-top{
    width: 70%;
    margin: 0 auto;
}

a.nav-link{
    color: white;
}

#about{
    h1{
        padding: 2em;
    }
}
#competence{
    h1{
        padding: 2em;
    }
}
.btn-place{
    margin-top: 15px !important;
}

.margform{
    margin: 10px;

.form-check-label{
    color: white;
}

@media screen and (max-width:576px){
    .card{
        width: 80%;

    }
    .centerQuery{
        display: flex;
        justify-content: center;
    }

    }
}