h2{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    padding-top: 55px !important;
}

.card{
    transition: .5s;
    margin-bottom: 10px;
}
.card:hover{
    transform: scale(1.1)
}

img.card-img-top{
    width: 70%;
    margin: 0 auto;
}

a.nav-link{
    color: white;
}

#about{
    h1{
        padding: 2em;
    }
}
#competence{
    h1{
        padding: 2em;
    }
}
.btn-place{
    margin-top: 15px !important;
}

.margform{
    margin: 10px;
}

.form-check-label{
    color: white;
}

/* lien d'évitement*/
a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

@media screen and (max-width:576px){
    .card{
        width: 80%;

    }
    .centerQuery{
        display: flex;
        justify-content: center;
    }

    }
