$theme-colors: (
  "primary":    #227093,
  "secondary":  #093447, 
  "bordeau": #94313E
);

$spacer: 1rem;
$spacers: (
  6:($spacer * 4.5)
);

// $grid-breakpoints: (
//   xxxl: 1600px
// );

$carousel-control-color: #94313E;

$carousel-indicator-active-bg: #94313E;

